/*******HEADER & FOOTER LANDINGS STYLES***********/
.panel.callout, .panel{border: none;}

#landing-header {
    width: 100%;
    background: #FAFAFA;
}

.landing-header-content {
    display: block;
    width: 100%;
    max-width: 78.2rem;
    margin: 0 auto;
}


#landing-footer {
    width: 100%;
    margin-top: 1.111rem;
}

.master-logo {
    width: 8rem;
    display: block;
    float: left;
    padding: 1rem 1rem;
    cursor: pointer;
}


.go-site {float: right;}

.go-site p {
    float: left;
    display: inline-block;
    margin-left: 5px;
    font-size: 13px;
    margin-top: 22px;
    margin-right: 20px;
}
.go-site p a:hover {
    color: #000;
    cursor: pointer;
}

.landing-footer-content{
    width: 100%;
    max-width: 78.2rem;
    margin: 0 auto;
    text-align: center;
    border-top: 1px solid #ccc;
}

.lv-logo{display: block;}
.col1{text-align: center;}
.col2{text-align: center;}
.col3{text-align: center;}

ul.social-connect {
text-align: center;
margin: 0.2rem 0;
}

ul.social-connect a{
display: block;
padding: 1em;
}
ul.social-connect li {
width: 30px;
height: 30px;
display: inline-block;
margin: 0px 5px;
background: url(/assets/images/bg/sprite_landing.png) no-repeat;
}

ul.social-connect li:hover{cursor: pointer;}

ul.social-connect li.fb {background-position: -23px -20px;}
ul.social-connect li.twt{background-position: -67px -20px;}
ul.social-connect li.pt{background-position: -111px -20px;}
ul.social-connect li.go{background-position: -157px -20px;}

ul.social-connect li.fb:hover {background-position: -23px -65px;}
ul.social-connect li.twt:hover{background-position: -67px -65px;}
ul.social-connect li.pt:hover{background-position: -111px -65px;}
ul.social-connect li.go:hover{background-position: -157px -65px;}

span.conditions {
margin-top: 25px;
}
.conditions a {
cursor: pointer;
display: inline-block;
font-size: 0.8rem;
margin: 0 0.3rem ;
}
.conditions a:hover{color: #000;}

#copywrite {
    font-size: 0.8rem;
}

@media only screen and (min-width: 40em) {
    .master-logo {
        width: 10rem;
    }
    .col1{text-align: left;}
    .col2{text-align: center;}
    .col3{text-align: right;}
}
