@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot?6byvhj');
  src:url('../fonts/icomoon.eot?6byvhj#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?6byvhj') format('truetype'),
    url('../fonts/icomoon.woff?6byvhj') format('woff'),
    url('../fonts/icomoon.svg?6byvhj#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-liv-accesorios:before {
  content: "\e900";
}
.icon-liv-alert:before {
  content: "\e901";
}
.icon-liv-alerta:before {
  content: "\e902";
}
.icon-liv-altajoyeria:before {
  content: "\e903";
}
.icon-liv-anillos:before {
  content: "\e904";
}
.icon-liv-ayuda:before {
  content: "\e905";
}
.icon-liv-ban-compra-futura:before {
  content: "\e906";
}
.icon-liv-ban-costo-envio:before {
  content: "\e907";
}
.icon-liv-ban-disponible-tienda:before {
  content: "\e908";
}
.icon-liv-ban-entrega-domicilio:before {
  content: "\e909";
}
.icon-liv-ban-entrega-express:before {
  content: "\e90a";
}
.icon-liv-ban-entrega-solo-tienda:before {
  content: "\e90b";
}
.icon-liv-ban-envio-gratis:before {
  content: "\e90c";
}
.icon-liv-ban-especial-paypal:before {
  content: "\e90d";
}
.icon-liv-ban-libro-digital:before {
  content: "\e90e";
}
.icon-liv-ban-libros-importacion:before {
  content: "\e90f";
}
.icon-liv-ban-monedero-electronico:before {
  content: "\e910";
}
.icon-liv-ban-paquete-exclusivo:before {
  content: "\e911";
}
.icon-liv-ban-piezas-limitadas .path1:before {
  content: "\e912";
  color: rgb(225, 0, 152);
}
.icon-liv-ban-piezas-limitadas .path2:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-liv-ban-piezas-limitadas .path3:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-liv-ban-piezas-limitadas .path4:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-liv-ban-precio-exclusivo:before {
  content: "\e916";
}
.icon-liv-ban-preventa:before {
  content: "\e917";
}
.icon-liv-ban-promocion-exclusiva:before {
  content: "\e918";
}
.icon-liv-ban-regalo-compra:before {
  content: "\e919";
}
.icon-liv-bebes:before {
  content: "\e91a";
}
.icon-liv-belleza:before {
  content: "\e91b";
}
.icon-liv-caballeros:before {
  content: "\e91c";
}
.icon-liv-calendario:before {
  content: "\e91d";
}
.icon-liv-cdl:before {
  content: "\e91e";
}
.icon-liv-celular:before {
  content: "\e91f";
}
.icon-liv-chocolates:before {
  content: "\e920";
}
.icon-liv-close-08:before {
  content: "\e921";
}
.icon-liv-close:before {
  content: "\e922";
}
.icon-liv-contacto:before {
  content: "\e923";
}
.icon-liv-cosmeticos:before {
  content: "\e924";
}
.icon-liv-damas:before {
  content: "\e925";
}
.icon-liv-damas2:before {
  content: "\e926";
}
.icon-liv-deportes:before {
  content: "\e927";
}
.icon-liv-devolucion:before {
  content: "\e928";
}
.icon-liv-dinero1:before {
  content: "\e929";
}
.icon-liv-double-right-07:before {
  content: "\e92a";
}
.icon-liv-down-02:before {
  content: "\e92b";
}
.icon-liv-dvd:before {
  content: "\e92c";
}
.icon-liv-ebook:before {
  content: "\e92d";
}
.icon-liv-etiqueta:before {
  content: "\e92e";
}
.icon-liv-exclusivo-12:before {
  content: "\e92f";
}
.icon-liv-expand:before {
  content: "\e930";
}
.icon-liv-fact-extranjero:before {
  content: "\e931";
}
.icon-liv-fact-fisica:before {
  content: "\e932";
}
.icon-liv-fact-propiedad:before {
  content: "\e933";
}
.icon-liv-filtro:before {
  content: "\e934";
}
.icon-liv-flecha-der:before {
  content: "\e935";
}
.icon-liv-flecha-izq:before {
  content: "\e936";
}
.icon-liv-flor:before {
  content: "\e937";
}
.icon-liv-fon:before {
  content: "\e938";
}
.icon-liv-forma-de-pago:before {
  content: "\e939";
}
.icon-liv-fragancias:before {
  content: "\e93a";
}
.icon-liv-go-14:before {
  content: "\e93b";
}
.icon-liv-grid-03:before {
  content: "\e93c";
}
.icon-liv-grid-04:before {
  content: "\e93d";
}
.icon-liv-grid-ebook:before {
  content: "\e93e";
}
.icon-liv-home:before {
  content: "\e93f";
}
.icon-liv-impresora:before {
  content: "\e940";
}
.icon-liv-indicaciones:before {
  content: "\e941";
}
.icon-liv-infantiles:before {
  content: "\e942";
}
.icon-liv-info:before {
  content: "\e943";
}
.icon-liv-juguetes:before {
  content: "\e944";
}
.icon-liv-listado:before {
  content: "\e945";
}
.icon-liv-lmj-carta:before {
  content: "\e946";
}
.icon-liv-lmj-icon-arroba:before {
  content: "\e947";
}
.icon-liv-lmj-icon-auto:before {
  content: "\e948";
}
.icon-liv-lmj-icon-bb:before {
  content: "\e949";
}
.icon-liv-lmj-icon-bici:before {
  content: "\e94a";
}
.icon-liv-lmj-icon-disfras:before {
  content: "\e94b";
}
.icon-liv-lmj-icon-heli:before {
  content: "\e94c";
}
.icon-liv-lmj-icon-home:before {
  content: "\e94d";
}
.icon-liv-lmj-icon-lego:before {
  content: "\e94e";
}
.icon-liv-lmj-icon-mensaje:before {
  content: "\e94f";
}
.icon-liv-lmj-icon-nina:before {
  content: "\e950";
}
.icon-liv-lmj-icon-nino:before {
  content: "\e951";
}
.icon-liv-lmj-icon-nombre:before {
  content: "\e952";
}
.icon-liv-lmj-icon-oso:before {
  content: "\e953";
}
.icon-liv-lmj-icon-personaje:before {
  content: "\e954";
}
.icon-liv-lmj-icon-regalo:before {
  content: "\e955";
}
.icon-liv-lmj-icon-tiro:before {
  content: "\e956";
}
.icon-liv-localizar:before {
  content: "\e957";
}
.icon-liv-logo-liver:before {
  content: "\e958";
}
.icon-liv-logo:before {
  content: "\e959";
}
.icon-liv-manual:before {
  content: "\e95a";
}
.icon-liv-mas-info:before {
  content: "\e95b";
}
.icon-liv-mas:before {
  content: "\e95c";
}
.icon-liv-mensaje:before {
  content: "\e95d";
}
.icon-liv-moda:before {
  content: "\e95e";
}
.icon-liv-new-11:before {
  content: "\e95f";
}
.icon-liv-promociones:before {
  content: "\e960";
}
.icon-liv-radio-button-01:before {
  content: "\e961";
}
.icon-liv-radio-button-02:before {
  content: "\e962";
}
.icon-liv-regalos:before {
  content: "\e963";
}
.icon-liv-relojes:before {
  content: "\e964";
}
.icon-liv-right-06:before {
  content: "\e965";
}
.icon-liv-seguridad:before {
  content: "\e966";
}
.icon-liv-servicios:before {
  content: "\e967";
}
.icon-liv-settings:before {
  content: "\e968";
}
.icon-liv-social-facebook:before {
  content: "\e969";
}
.icon-liv-social-google:before {
  content: "\e96a";
}
.icon-liv-social-pinterest:before {
  content: "\e96b";
}
.icon-liv-social-twitter:before {
  content: "\e96c";
}
.icon-liv-star-09:before {
  content: "\e96d";
}
.icon-liv-star-10:before {
  content: "\e96e";
}
.icon-liv-talla:before {
  content: "\e96f";
}
.icon-liv-tarjeta-linea:before {
  content: "\e970";
}
.icon-liv-tarjeta-solida:before {
  content: "\e971";
}
.icon-liv-thin-down-05:before {
  content: "\e972";
}
.icon-liv-timer:before {
  content: "\e973";
}
.icon-liv-up-01:before {
  content: "\e974";
}
.icon-liv-video:before {
  content: "\e975";
}
.icon-liv-video2:before {
  content: "\e976";
}
.icon-liv-videojuegos:before {
  content: "\e977";
}
.icon-liv-vinos:before {
  content: "\e978";
}
.icon-liv-vuelo-ida:before {
  content: "\e979";
}
.icon-liv-vuelo-regreso:before {
  content: "\e97a";
}
.icon-liv-zapatos:before {
  content: "\e97b";
}
.icon-liv-zoom-13:before {
  content: "\e97c";
}
.icon-liv-zoom-in-15:before {
  content: "\e97d";
}
.icon-liv-zoom-out-16:before {
  content: "\e97e";
}

