body {
  background: #f2f2f2;
  font-family: 'Roboto', arial, sans-serif;
}
.header {
  background: #fff;
}
.header .logo {
  height: 50px;
}
.header-container {
  width: 1250px !important;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}
.header-container div {
  padding-left: 0px;
  padding-right: 0px;
}
.header-container .contact {
  display: inline-block;
  margin-right: 10px;
  text-align: right;
  height: 50px;
  padding-top: 7px;
}
.header-container span {
  display: block;
  font-family: "Roboto Condensed";
  font-weight: bold;
}
.header-container .icon-ayuda {
  height: 50px;
  float: right;
}
.container {
  width: 1250px !important;
}
.box-shadow-wrapper {
  -moz-box-shadow: 0px 4px 7px -1px #ccc;
       box-shadow: 0px 4px 7px -1px #ccc;
  margin: 40px 0;
  padding: 20px;
  background: #fff;
}
.box-shadow-wrapper h4 {
  font-family: 'Roboto Condensed', sans-serif;
  color: #3b3b3e;
}
.box-shadow-wrapper button {
  min-width: 180px;
}
.box-shadow-wrapper p {
  color: #3b3b3e;
}
.block-tip {
  border: 10px solid #f6f5f5;
}
.block-tip p {
  border: 1px dashed #666;
  font-size: 12px;
  line-height: 18px;
  margin: 0;
  padding: 12px;
}
.block-tip p span {
  color: #666;
}
label {
  color: #666;
  font-size: 15px;
  line-height: 18px;
}
.vertical-center {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.vertical-center-left {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
h3 {
  margin-top: 0;
  font-family: Roboto;
  color: #3b3b3e;
  font-weight: 500;
}
h4 {
  margin-top: 15px;
}
.text-pink {
  color: #e10098;
}
.text-gray {
  color: #b3b3b3 !important;
}
.text-red {
  color: #f00;
}
.fa-stack {
  float: left;
  margin-right: 5px;
  margin-top: 8px;
  width: 1.6em;
  height: 1.6em;
  line-height: 1.6em;
}
.fa-stack-2x {
  font-size: 1.6em;
}
.depositForm {
  padding-left: 48px;
  margin-top: 25px;
}
.headerPartialTransferences .vertical-center {
  min-height: 118px;
}
.errorMessage span {
  float: right;
  font-size: 13px;
}
.titleForm {
  font-weight: bold;
  font-family: Roboto;
}
.materialStyle {
  position: relative;
  margin-bottom: 20px;
}
input.inputMaterial {
  font-size: 18px;
  padding: 12px 0 0 5px;
  display: block;
  width: 100%;
}
input.inputMaterial:focus {
  outline: none;
}
label.placeHolderMaterial {
  color: #999;
  font-size: 15px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  -moz-transition: 0.2s ease all;
  transition: 0.2s ease all;
}
input.inputMaterial:focus ~ label.placeHolderMaterial,
input.inputMaterial:valid ~ label.placeHolderMaterial {
  top: 1px;
  font-size: 10px;
  color: #e10098;
}
.materialStyle small {
  margin-top: 10px;
  position: absolute;
}
.quantity {
  display: block;
  font-size: 18px;
}
.quantityBlock {
  margin-left: 14px;
}
small {
  color: #666;
  font-size: 12px;
}
button[disabled] {
  opacity: 0.5;
}
hr {
  border-bottom: 1px solid #d8d8d8;
  border-top: none;
  margin: 15px 0px 0px;
}
.block-verification {
  width: 591px;
  margin-bottom: 30px;
}
.block-verification .header {
  padding-left: 15px;
  color: #3b3b3e;
  height: 50px;
  background-color: #f2f2f2;
  -moz-box-shadow: 0px 5px 5px 0 rgba(0,0,0,0.03);
       box-shadow: 0px 5px 5px 0 rgba(0,0,0,0.03);
}
.block-verification .header span {
  font-size: 18px;
}
.block-verification .content {
  min-height: 124px;
  -moz-box-shadow: 0px 5px 5px 0 rgba(0,0,0,0.03);
       box-shadow: 0px 5px 5px 0 rgba(0,0,0,0.03);
  border: solid 1px #d8d8d8;
  padding: 14px 0px;
  margin: 0px;
}
.block-verification .content .generalData {
  border-right: solid 1px #d8d8d8;
}
.block-verification .content .generalData span {
  color: #b3b3b3;
}
.block-verification .content .blockDeposit {
  margin: 15px 0 0px 0;
  height: 2.6em;
}
.block-verification .content .blockDeposit:last-child {
  border-top: solid 1px #d8d8d8;
  padding-top: 15px;
  margin-top: 5px;
}
.block-verification .content .blockDeposit div {
  padding: 0px;
}
.block-verification .date-verification {
  margin-bottom: 10px;
}
button i {
  position: absolute;
  left: 19px;
  top: 23px;
}
button:focus {
  outline: 0;
}
.inputBlock .grayMobileButton {
  float: left;
}
.inputBlock .pinkMobileButton {
  float: right;
}
.modal {
  font-family: Roboto, arial, sans-serif !important;
}
.modal .modal-dialog {
  margin: 15% auto;
}
.modal .modal-content {
  width: 430px;
  height: auto;
}
.modal .modal-header {
  border-bottom: none;
  padding: 25px 25px 0px;
}
.modal .modal-header button.close {
  cursor: pointer;
  background: #666 !important;
  -moz-border-radius: 10px;
       border-radius: 10px;
  border: 0;
  padding: 0px 5px 1px;
  font-family: arial;
}
.modal .modal-header .close {
  color: #fff;
  opacity: 1;
  font-family: Arial;
  font-weight: normal;
  font-size: 17px;
}
.modal .modal-header .close:hover,
.modal .modal-header .close:focus {
  color: #fff;
  opacity: 0.8;
}
.modal .modal-content {
  -moz-border-radius: 0;
       border-radius: 0;
}
.modal .modal-body {
  color: #666 !important;
  padding: 25px;
}
.modal form {
  margin-top: 15px;
}
.modal .form-control {
  -moz-border-radius: 0;
       border-radius: 0;
}
.modal .form-control:focus {
  border-color: #ccc;
}
.modal form button.pinkMobileButton {
  width: 100%;
  max-width: 100%;
  margin: 20px 0;
  font-family: Roboto Condensed;
}
.modal label {
  font-weight: normal;
  color: #3b3b3e;
}
.modal small {
  color: #3b3b3e;
}
#option1,
#option2 {
  display: none;
  padding-left: 20px;
  margin-bottom: 20px;
}
#myModalConfirmation form button {
  margin-bottom: 12px;
  margin-top: 22px;
}
#partialConfirmation {
  padding: 50px 130px;
}
#partialConfirmation .box-name {
  color: #666;
  font-size: 24px;
  margin-top: 60px;
}
#partialConfirmation h2 {
  font-weight: bold;
}
#partialConfirmation .box-description {
  font-size: 12px;
  margin-top: 22px;
  border-bottom: solid 1px #d8d8d8;
  padding-bottom: 15px;
}
#partialConfirmation .title-confirmation {
  display: block;
  font-size: 24px;
  font-family: 'Roboto Condensed', sans-serif;
  margin-top: 50px;
  margin-bottom: 15px;
}
.box-icons img {
  margin: 15px 0px 15px 15px;
}
.box-instructions {
  margin-top: 20px;
}
.box-save-data {
  margin-top: 20px;
  border-top: solid 1px #d8d8d8;
  padding-top: 20px;
}
.panel-group .panel-heading + .panel-collapse > .panel-body {
  border: 0;
}
.panel {
  -moz-box-shadow: none;
       box-shadow: none;
}
.inputBlock {
  margin-top: 0px;
  margin-bottom: 15px;
}
.boxAccount {
  display: none;
}
.alertCustom.success {
  border-color: #008000;
  color: #008000;
  margin-top: 20px;
  margin-bottom: 15px;
}
.alertCustom.success .icon {
  background-color: #008000;
}
.alertCustom.danger {
  border-color: #f00;
  color: #f00;
  margin-top: 0px;
  margin-bottom: 15px;
}
.alertCustom.danger .icon {
  background-color: #f00;
}
.warning {
  margin-top: 25px;
  margin-bottom: 15px;
}
.panel-heading.disable .fa-stack {
  color: #b3b3b3 !important;
}
.panel-heading.disable h4 {
  color: #b3b3b3 !important;
}
#option2 .materialStyle:first-child {
  margin-bottom: 36px;
}
#formBankAccount {
  display: none;
}
.selectAccount {
  display: none;
}
.box-save-data button {
  margin-top: 0px;
}
#alertSave {
  display: none;
}
#formLiverpoolAccount {
  display: none;
}
#formLiverpoolAccount .materialStyle:first-child {
  margin-bottom: 20px;
}
#blockAddAccounts {
  padding: 0px;
}
/*with accounts*/
#blockAccount,
#blockNewAccount {
  display: none;
  border-top: solid 1px #d8d8d8;
  padding-top: 25px;
  margin-top: 25px !important;
}
#blockSelect {
  display: none;
}
#option2 .row {
  margin: 0px;
}
.txtConcept,
.btnDelete {
  display: none;
}
button {
  font-family: "Roboto Condensed";
}
/*check*/
.radio {
  padding-left: 20px;
}
.radio label span,
.radio label small {
  display: block;
}
.radio label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 5px;
}
.radio label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #e10098;
  -moz-border-radius: 50%;
       border-radius: 50%;
  background-color: #fff;
  -moz-transition: border 0.15s ease-in-out;
  transition: border 0.15s ease-in-out;
}
.radio label::after {
  display: inline-block;
  position: absolute;
  content: " ";
  width: 11px;
  height: 11px;
  left: 3px;
  top: 3px;
  margin-left: -20px;
  -moz-border-radius: 50%;
       border-radius: 50%;
  background-color: #e10098;
  -webkit-transform: scale(0, 0);
  -moz-transform: scale(0, 0);
       transform: scale(0, 0);
  -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -moz-transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33), -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33), -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33), -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}
.radio input[type="radio"] {
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}
.radio input[type="radio"]:focus + label::before {
  outline: thin dotted;
  outline: 0px auto -webkit-focus-ring-color;
  outline-offset: 0px;
}
.radio input[type="radio"]:checked + label::after {
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
       transform: scale(1, 1);
}
.radio input[type="radio"]:disabled {
  cursor: not-allowed;
}
.radio input[type="radio"]:disabled + label {
  opacity: 0.65;
}
.radio input[type="radio"]:disabled + label::before {
  cursor: not-allowed;
}
.radio.radio-inline {
  margin-top: 0;
}
.radio input[type="radio"]:focus {
  outline: 0;
  outline-offset: 0;
}
