@font-face {
    font-family: 'robotoRegular';
    src: url("fonts/Roboto-Regular-webfont.eot");
    src: url("fonts/Roboto-Regular-webfont.eot?#iefix") format('embedded-opentype'), url("fonts/Roboto-Regular-webfont.woff") format('woff'), url("fonts/Roboto-Regular-webfont.ttf") format('truetype'), url("fonts/Roboto-Regular-webfont.svg#robotoregular") format('svg');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'robotoCondensed';
    src: url("fonts/RobotoCondensed-Regular-webfont.eot");
    src: url("fonts/RobotoCondensed-Regular-webfont.eot?#iefix") format('embedded-opentype'), url("fonts/RobotoCondensed-Regular-webfont.woff") format('woff'), url("fonts/RobotoCondensed-Regular-webfont.ttf") format('truetype'), url("fonts/RobotoCondensed-Regular-webfont.svg#roboto_condensedregular") format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'robotoMedium';
    src: url("fonts/Roboto-Medium-webfont.eot");
    src: url("fonts/Roboto-Medium-webfont.eot?#iefix") format('embedded-opentype'), url("fonts/Roboto-Medium-webfont.woff") format('woff'), url("fonts/Roboto-Medium-webfont.ttf") format('truetype'), url("fonts/Roboto-Medium-webfont.svg#roboto_medium") format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'lato';
    src: url("fonts/Lato-Regular.ttf") format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'trade';
    src: url("fonts/Trade-Gothic-LT-Bold-2.ttf") format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'icomoon';
    src: url("fonts/icomoon.eot?dwckbj");
    src: url("fonts/icomoon.eot?dwckbj#iefix") format('embedded-opentype'), url("fonts/icomoon.ttf?dwckbj") format('truetype'), url("fonts/icomoon.woff?dwckbj") format('woff'), url("fonts/icomoon.svg?dwckbj#prueba-mesa-font-01") format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FontAwesome';
    src: url('fonts/fontawesome-webfont.eot?v=4.7.0');
    src: url('fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}