.containerInspiration .pl-0 {
  padding-left: 0px;
}
.containerInspiration .sbs {
  margin-top: 20px;
}
.containerInspiration .sbp {
  margin-bottom: 20px;
}
.containerInspiration .bannerInspiration {
  width: 100%;
}
.containerInspiration .menu {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}
.containerInspiration .menu a {
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 20px;
  margin-right: 20px;
  font-family: 'robotoRegular';
  font-size: 15px;
}
.containerInspiration .menu a.active {
  border-bottom: solid 2px #e10098;
}
.containerInspiration .publicationsHome {
  -moz-column-count: 2;
       column-count: 2;
  -moz-column-gap: 1.2rem;
       column-gap: 1.2rem;
}
.containerInspiration .publications .articleInspiration,
.containerInspiration .publicationsHome .articleInspiration,
.containerInspiration .banner .articleInspiration {
  width: 100%;
  position: relative;
  display: inline-block;
}
.containerInspiration .publications figure a:hover p,
.containerInspiration .publicationsHome figure a:hover p,
.containerInspiration .banner figure a:hover p {
  visibility: visible;
  color: #fff;
}
.containerInspiration .publications figure a:hover img,
.containerInspiration .publicationsHome figure a:hover img,
.containerInspiration .banner figure a:hover img {
  filter: brightness(50%);
}
.containerInspiration .publications figure a p,
.containerInspiration .publicationsHome figure a p,
.containerInspiration .banner figure a p {
  position: absolute;
  visibility: hidden;
  z-index: 20;
  font-size: 16px;
  width: 100%;
  margin-top: 30%;
  text-align: center;
  color: #fff;
  font-family: 'robotoRegular';
}
.containerInspiration .publications figure figcaption,
.containerInspiration .publicationsHome figure figcaption,
.containerInspiration .banner figure figcaption {
  font-family: 'robotoCondensed';
  font-size: 24px;
  margin-top: 10px;
}
.containerInspiration .publications section,
.containerInspiration .publicationsHome section,
.containerInspiration .banner section {
  margin-bottom: 30px;
}
.containerInspiration .publications section .imgDescription,
.containerInspiration .publicationsHome section .imgDescription,
.containerInspiration .banner section .imgDescription,
.containerInspiration .publications section .imgDate,
.containerInspiration .publicationsHome section .imgDate,
.containerInspiration .banner section .imgDate {
  font-family: 'robotoCondensed';
  font-size: 15px;
}
.containerInspiration .publications section .imgDescription .title,
.containerInspiration .publicationsHome section .imgDescription .title,
.containerInspiration .banner section .imgDescription .title,
.containerInspiration .publications section .imgDate .title,
.containerInspiration .publicationsHome section .imgDate .title,
.containerInspiration .banner section .imgDate .title {
  float: right;
}
.containerInspiration .publications section .imgDate,
.containerInspiration .publicationsHome section .imgDate,
.containerInspiration .banner section .imgDate {
  border-top: solid 1px #dedede;
  border-bottom: solid 1px #dedede;
}
.containerInspiration .seeMore {
  font-family: 'robotoRegular';
  font-size: 16px;
}
.containerInspiration article.second figure figcaption {
  font-style: italic;
}
.containerInspiration .social {
  border-top: solid 1px #dedede;
  border-bottom: solid 1px #dedede;
}
.containerInspiration .social a {
  float: right;
  display: inline-block;
  margin: 10px 5px;
}
.containerInspiration .social a span {
  padding: 5px;
  font-size: 16px;
  color: #fff;
  -moz-border-radius: 20px;
       border-radius: 20px;
}
.containerInspiration .social a .icon-social-twitter {
  background-color: #09f;
}
.containerInspiration .social a .icon-social-facebook {
  background-color: #d35400;
}
.containerInspiration .social a .icon-social-pinterest {
  background-color: #c00;
}
.containerInspiration .social a .icon-social-instagram {
  background-color: #f06292;
}
.containerInspiration .social a .icon-social-google {
  background-color: #d35400;
}
.containerInspiration .divisionPle {
  height: 15px;
  width: 50px;
  border-top: solid 2px #dedede;
  margin-top: 20px;
}
.containerInspiration .moreVisit {
  list-style-type: none;
}
.containerInspiration .moreVisit li {
  border-bottom: solid 1px #dedede;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.containerInspiration .moreVisit li figure {
  width: 100px;
}
.containerInspiration .moreVisit li p {
  width: 60%;
  padding-left: 10px;
  font-family: 'robotoRegular';
  font-size: 16px;
  color: #000;
}
.containerInspiration .moreVisit li a {
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
   -ms-flex-flow: row wrap;
       flex-flow: row wrap;
  -moz-box-pack: start;
   -ms-flex-pack: start;
       justify-content: flex-start;
  -moz-box-align: center;
   -ms-flex-align: center;
       align-items: center;
}
.containerInspiration .moreVisit li a:hover {
  text-decoration: none;
}
.containerInspiration .forYouEvent {
  border: solid 1px #dedede;
  width: 100%;
  margin: 10px 0px;
}
.containerInspiration .collage article {
  margin-top: 20px;
  margin-bottom: 20px;
}
.containerInspiration .video {
  width: 100%;
  height: 350px;
}
.containerInspiration #contentGallery {
  position: relative;
}
.containerInspiration #contentGallery .plecaCountImage {
  position: absolute;
  z-index: 10;
  bottom: 0px;
  height: 40px;
  padding-top: 10px;
  width: 100%;
  background-color: rgba(0,0,0,0.4);
  color: #fff;
  text-align: right;
  padding-right: 20px;
  font-size: 15px;
}
.containerInspiration #galleryInspiration {
  background-color: #e6e4e4;
}
.containerInspiration #galleryInspiration .owl-nav {
  margin-top: 0px !important;
}
.containerInspiration #galleryInspiration .owl-nav .owl-prev,
.containerInspiration #galleryInspiration .owl-nav .owl-next {
  position: absolute;
  top: 40%;
  height: 40px;
  width: 40px;
  -moz-border-radius: 20px;
       border-radius: 20px;
  padding-top: 12px;
  padding-left: 4px;
  background-color: #fff;
}
.containerInspiration #galleryInspiration .owl-nav .owl-prev {
  left: 0px;
}
.containerInspiration #galleryInspiration .owl-nav .owl-next {
  right: 0px;
}
.containerInspiration #galleryInspiration .owl-nav .arrow-prev,
.containerInspiration #galleryInspiration .owl-nav .arrow-next {
  font-weight: bold;
  font-size: 16px;
  color: #666;
}
.containerInspiration #galleryInspiration .owl-nav .arrow-next {
  padding-left: 6px;
}
.containerInspiration #contentThumbails {
  height: 120px;
  padding-top: 10px;
  background-color: #e6e4e4;
}
.containerInspiration #contentThumbails .owl-item {
  width: 120px !important;
  margin-left: 10px;
  cursor: pointer;
}
.containerInspiration #thumbails {
  height: 50px;
}
.secondaryImg {
  height: 230px;
  width: 100%;
}
.forYouEvent img {
  width: 100%;
}
