
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');


@font-face {
    font-family: 'Klein 55';
    src: url('https://assets.liverpool.com.mx/landings/ck/fonts/Klein-55Regular.woff2') format('woff2'),
        url('https://assets.liverpool.com.mx/landings/ck/fonts/Klein-55Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.boton-contenedor{
    position:relative;
    width:100% !important;
}

.boton-1{
    position:absolute;
    max-width:192px;
    bottom:68px;
    right:39px;
}

.boton-2{
    position:absolute;
    max-width:192px;
    bottom:68px;
    right:251px;
    
}








.vb-contenedor {
    text-decoration:none;
    color:black;
}

.vb-contenedor a{
    text-decoration:none;
    color:#3c1740;
	
}


.ck-underwear-container{
    position:relative;
    width:100% !important;
}

.ck-underwear-texto{
    position:absolute;
    right:15%;
    bottom:8%;
    width:auto !important;
}

.ck-underwear-texto p{
	font-family: 'Klein 55';
    text-align:center;
    color:black;
    font-size:20px;
    text-decoration:underline;

    
}





.ck-jeans-texto-2{
	font-family: 'Klein 55';
	border-color: #3c1740;
	text-decoration-color: #3c1740;
    padding: 15px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
	margin-top: 30%;
	margin-left: 10%;

}

.ck-jeans{
    background-color:darkblue;
}

.ck-jeans-texto{
    color:white;
    font-family: 'Klein 55';
    padding-left:10%;
    padding-top:5%;
}

.ck-jeans-texto h5{
    font-size:15px;
    margin:0;
    color:White;

}

.ck-jeans-texto h3{
    font-size:40px;
    margin:0;
    margin-top:30px;
    margin-bottom:30px;
    color:White;
}

.ck-jeans-texto ul{
    list-style:none;
    margin:0;
    padding:0;
    padding-left:8%;
}

.ck-jeans-texto ul li{
    display:inline-block;
    padding:10px;
    margin:5px;
    background-color:white;
    color:black;
}

.texto-ck{
    text-align:center;
    font-size:19px;
    font-family: 'Klein 55';
    margin:10px;
    margin-bottom:0;
    padding:0;
    color:black;
}