@font-face {
    font-family: 'Univers LT Std';
    src: url('UniversLTStd-Bold.woff2') format('woff2'),
        url('UniversLTStd-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Univers LT Std';
    src: url('UniversLTStd-Light.woff2') format('woff2'),
        url('UniversLTStd-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

