<div class="bannerCategorias">
    <div class="fondo" ng-style="{'background-image':'url(assets/images/banners/ninas_prueba.jpeg)'}">
    </div>
    <div class="etiqueta">
        <div class="texto" ng-bind="label"></div>
        <svg version="1.1" id="svgetiquetamovil" x="0px" y="0px" height="110">
                <polygon class="svgpoligon3movil"/>
            <g>
                <polygon class="svgpoligon2movil"/>
            </g>
            <g>
                <polyline class="svgpoligon1movil"/>
            </g>
        </svg>
        
    </div>
</div>