<div class="row menu-categorias">
    <div class="container hidden-xs p-l-0 p-r-0">
        <ul>
            <li>
                <a href="#/categoria/subCategories" analytics-on="click" title="Niñas" analytics-event="MainMenu-Niñas" value="Niñas" class="action" id="ninas">
                    <div class="pleca plecaNinas"></div>
                    <div class="titleMenu">Ni&ntilde;as</div>
                    <div class="icono ninas"></div>
                </a>
            </li>

            <li>
                <a href="#/categoria/niños" analytics-on="click" title="Niños" analytics-event="MainMenu-Niños" value="Niños" class="action" id="ninos">
                    <div class="pleca plecaNinos"></div>
                    <div class="titleMenu">Ni&ntilde;os</div>
                    <div class="icono ninos"></div>
                </a>
            </li>

            <li>
                <a href="#/categoria/construccion-y-armables" analytics-on="click" title="Construcción y Armables" analytics-event="MainMenu-Construcción y Armables" value="Construcción y Armables" class="action" id="armables">
                    <div class="pleca plecaArmables"></div>
                    <div class="titleMenu">Construcci&oacute;n y armables</div>
                    <div class="icono armables"></div>
                </a>
            </li>
            <li>
                <a href="#/categoria/bebés" analytics-on="click" title="Bebés" analytics-event="MainMenu-Bebés" value="Bebés" class="action" id="bebes">
                    <div class="pleca plecaBebes"></div>
                    <div class="titleMenu">Beb&eacute;s</div>
                    <div class="icono bebes"></div>
                </a>
            </li>
            <li>
                <a href="#/categoria/vehículos" analytics-on="click" title="Vehículos" analytics-event="MainMenu-Vehículos" value="Vehículos" class="action" id="vehiculos">
                    <div class="pleca plecaVehiculos"></div>
                    <div class="titleMenu">Veh&iacute;culos</div>
                    <div class="icono vehiculos"></div>
                </a>
            </li>
            <li>
                <a href="#/subcategoria/exteriores/catst1896485" analytics-on="click" title="Exteriores" analytics-event="MainMenu-Exteriores" value="Exteriores" class="action" id="exteriores">
                    <div class="pleca plecaExteriores"></div>
                    <div class="titleMenu">Exteriores</div>
                    <div class="icono exteriores"></div>
                </a>
            </li>
            <li>
                <a href="#/subcategoria/drones/catst1833807" analytics-on="click" title="Radio Control" analytics-event="MainMenu-Radio Control" value="Radio Control" class="action" id="drones">
                    <div class="pleca plecaDrones"></div>
                    <div class="titleMenu">Radio control</div>
                    <div class="icono drones"></div>
                </a>
            </li>
            <li>
                <a href="#/categoria/juegos-de-mesa" analytics-on="click" title="Juegos de mesa" analytics-event="MainMenu-Juegos de mesa" value="Juegos de mesa" class="action" id="juegosdemesa">
                    <div class="pleca plecaJuegosdemesa"></div>
                    <div class="titleMenu">Juegos de mesa</div>
                    <div class="icono juegosdemesa"></div>
                </a>
            </li>
            <li>
                <a href="#/subcategoria/coleccionables/catst1833811" analytics-on="click" title="Coleccionables" analytics-event="MainMenu-Coleccionables" value="Coleccionables" class="action" id="coleccionables">
                    <div class="pleca plecaColeccionables"></div>
                    <div class="titleMenu">Coleccionables</div>
                    <div class="icono coleccionables"></div>
                </a>
            </li>
            <li>
                <a href="#/categoria/peluches" analytics-on="click" title="Peluches" analytics-event="MainMenu-Peluches" value="Peluches" class="action" id="peluches">
                    <div class="pleca plecaPeluches"></div>
                    <div class="titleMenu">Peluches</div>
                    <div class="icono peluches"></div>
                </a>
            </li>
            <li>
                <a href="#/categoria/disfraces" analytics-on="click" title="Disfraces" analytics-event="MainMenu-Disfraces" value="Disfraces" class="action" id="disfraces">
                    <div class="pleca plecaDisfraces"></div>
                    <div class="titleMenu">Disfraces</div>
                    <div class="icono disfraces"></div>
                </a>
            </li>

            <li>
                <a href="#/categoria/videojuegos" analytics-on="click" title="Videojuegos" analytics-event="MainMenu-Videojuegos" value="Videojuegos" class="action" id="videojuegos">
                    <div class="pleca plecaVideojuegos"></div>
                    <div class="titleMenu">Videojuegos</div>
                    <div class="icono videojuegos"></div>
                </a>
            </li>
        </ul>
    </div>
</div>