<div class="row plecas_menu">
<div class="container hidden-xs p-l-0 p-r-0">
    <ul>
                <li>
                    <div class="pleca plecaNinas"></div>
                </li>
                <li>
                    <div class="pleca plecaNinos"></div>
                </li>
                
                <li>
                    <div class="pleca plecaArmables"></div>
                </li>
                <li>
                    <div class="pleca plecaBebes"></div>
                </li>
                <li>
                    <div class="pleca plecaVehiculos"></div>
                </li>
                <li>
                    <div class="pleca plecaExteriores"></div>
                </li>
                <li>
                    <div class="pleca plecaDrones"></div>
                </li>
                <li>
                    <div class="pleca plecaJuegosdemesa"></div>
                </li>
                <li>
                    <div class="pleca plecaColeccionables"></div>
                </li>
                <li>
                    <div class="pleca plecaPeluches"></div>
                </li>
                <li>
                    <div class="pleca plecaDisfraces"></div>
                </li>

                <li>
                    <div class="pleca plecaVideojuegos"></div>
                </li>
         </ul>
    </div>
</div>