<!--<div class="happy-face"  ng-hide="vote === true">
   <p>¿Te fue útil esta información?</p>
   <ul class="faces">
      <li ng-click="addSurvey('1')" class="icon-ayuda-01-calificar mf-listen"></li>
      <li ng-click="addSurvey('2')" class="icon-ayuda-02-calificar mf-listen"></li>
      <li ng-click="addSurvey('3')" class="icon-ayuda-03-calificar mf-listen"></li>
      <li ng-click="addSurvey('4')" class="icon-ayuda-04-calificar mf-listen"></li>
      <li ng-click="addSurvey('5')" class="icon-ayuda-05-calificar mf-listen"></li>
   </ul>
</div>
<div class="thanks" ng-show="vote === true">
    <p> Gracias por tu respuesta, trabajamos para darte el mejor servicio.</p>
</div>-->