
<audio controls autoplay style="display: none">
  <source src="assets/audio/felicidades.ogg" type="audio/ogg">
</audio>
<div class="container">
<div class="ng-scope">
	<div class="row">
		<div class="col-md-12">
				<div class="back">
						<a href="#/" style="color: #495462">
								<span class="icon-regresar" style="font-size: 2em;vertical-align: middle;"> </span>
								Regresar
					 </a>
				</div>
		</div>
		<div class="col-2 col-lg-2">
		</div>
		<div class="col-8 col-lg-8 bodyFiguras" style="background-color: #ffffff">
			<div class="row">
				<div class="col col-sm-12 bodyCongrats">
					<p class="felicidades">¡FELICIDADES! </p>
					<p class="sended">Tu carta ha sido enviada a Santa Claus</p>
					<div class="row" style="text-align: center;">
						<button type="button" class="btn-rosa btn-enviar-carta hidden-xs" analytics-on="click" analytics-event="Envio-de-carta" analytics-label="exito"  ng-click="regresar()">Regresar a la juguetería
						<i class="fa fa-angle-right" aria-hidden="true"></i>
						</button>
						<button type="button" class="btn-rosa hidden-lg hidden-md hidden-sm" analytics-on="click" analytics-event="Envio-de-carta" analytics-label="exito"  ng-click="regresar()">Regresar a la juguetería<i class="fa fa-angle-right" aria-hidden="true"></i></button>
					</div>
				</div>
			</div>
		</div>
		<div class="col-2 col-lg-2">
		</div>
	</div>
</div>
</div>
