<div class="container-fluid superContentMenu hidden-xs hidden-sm">
    <div class="row">
        <menu-categorias id="id-menu-categorias" class="contentMenu"></menu-categorias>
    </div>
</div>

<div class="container">
    <div class="row" style="margin-top:2%;margin-bottom:2%;">
        <div class="col-md-2 col-xs-8">
            <back-history></back-history>
        </div>
    </div>
    <div class="container container-fluid bannerMobile">
        <div class="row mejoresmarcas_pleca">
            <etiqueta-categoria information="getPleca"></etiqueta-categoria>
        </div>
    </div>
        <div class="row" style="margin-bottom: 20px;">
            <ul class="gridPlp">
                <li class="itemPlp resultSearch"     ng-repeat="res in resultadosBusqueda">
                    <figure class="itemFigure">
                        <a href="#/detalle/{{res.id}}">
                            <img  lazy-src="{{res.imageBg}}" lazy-load/>
                            <p class="loader_generic"></p>
                            <figcaption>{{res.description}}</figcaption>
                        </a>
                    </figure>
                    <p class="addToy hidden-xs hidden-sm">
                        <agregar-pedidos producto="res"></agregar-pedidos>
                    </p>
                    <agregar-pedidos producto="res" class="hidden-lg"></agregar-pedidos>
                </li>
            </ul>
        </div>
        <div class="row" ng-show="seeMore">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <p class="text-center">
                    <a href ng-click="nextPage()" class="ver-mas">Ver más</a>
                </p>
            </div>
        </div>
        <div class="row" ng-show="loaded">
                <div class="col-md-12 col-xs-12">
                <div style="position:relative;margin:-3em auto 0 auto; width:187px;">
                        <img src="http://assets.liverpool.com.mx/assets/images/ajax-loader.gif"/>
                        </div>
                </div>
        </div>
    <div class="row">
        <div class="col-md-12 pleca-micarta hidden-xs">
             <i>!Ya seleccionaste tus regalos, no olvides enviar tu carta a Santa Claus!</i>
            <button type="button" class="btn-ir-micarta" onClick="javascript:location.href='#/micarta'">ir a mi carta&nbsp;&nbsp;<i class="icon-flecha_gruesa_derecha" aria-hidden="true"></i></button>
        </div>
        <div class="col-md-12 pleca-micarta-mobil hidden-lg hidden-sm">
             <div><i>!Ya seleccionaste tus regalos, no olvides enviar tu carta a Santa Claus!</i></div>
            <button type="button" class="btn-ir-micarta-mobil" onClick="javascript:location.href='#/micarta'">ir a mi carta&nbsp;&nbsp;<i class="icon-flecha_gruesa_derecha" aria-hidden="true"></i></button>
        </div>
    </div>
</div>
