<div class="inputContainer">
 <input type="text" class="form-control ayuda-busqueda" ng-model="inputBuscar" placeholder="Busca preguntas frecuentes o palabras clave" ng-keyup="buscar($event,inputBuscar)" > 
   <div class="entercancelar" id="cancelar" ng-show="inputBuscar.length > 3 " ng-click="inputBuscar = ''">
    <i class="icon-ayuda-cancelar-busqueda"></i>
  </div>
  <div class="enterbuscar" id="buscar" ng-click="mostrarResultados('/results/',inputBuscar)">
          <a href="#/results/{{inputBuscar}}"><i class="icon-ayuda-buscar" ></i> </a>
 </div>
</div>


<div class="type-down"  ng-hide="resultadoContenidos.length ===0 && resultadoPreguntas.length === 0">

    <p  class="titleSearch" ng-show="resultadoPreguntas.length > 0"><strong ng-bind="inputBuscar"></strong> en Preguntas</p>
        
    <div ng-repeat="r in resultadoPreguntas | limitTo:5" class="drop-cont">
        <div class="typhoon-search">
            <a href=""><i class="icon-ayuda-cat-preguntas-frecuentes"></i></a>
        </div>
        <div class="kapa">
            <a  href="#/faq/{{r.menu}}/{{r.idPregunta}}" ng-bind-html="r .pregunta"></a>
        </div>
    </div>


    <p  class="titleSearch" ng-show="resultadoContenidos.length > 0"><strong ng-bind="inputBuscar"></strong> en Contenidos</p>
        
    <p ng-repeat="rc in resultadoContenidos | limitTo:5" class="drop-cont">
      <a href="#/cont/rc.newLink">
        <span class="typhoon-search" ng-bind-html="rc.icon"></span>
        <span ng-bind-html="rc.contenido"></span>
      </a>
    </p>
</div>