@font-face {
    font-family: 'Avenir Next Condensed';
    src: url('AvenirNextCondensed-Regular.woff2') format('woff2'),
        url('AvenirNextCondensed-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next Condensed';
    src: url('AvenirNextCondensed-Bold.woff2') format('woff2'),
        url('AvenirNextCondensed-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

