<div class="menu-ayuda">
    <div  ng-repeat="n1 in menu" class="level1" >
        <div class="storm" ng-click="openLevel1($event)">
            <span ng-bind-html="n1.icon"></span>
            <div ng-class="{'snow':!n1.open,'snow_active':n1.open}">  {{ n1.titulo}}  </div>
            <i class="icon-ayuda-flecha-arriba" ng-class="{'active':n1.open}"></i>
        </div>
        <div class="submenu" ng-style="{display:(n1.open) ? 'block':'none'}">
            <div class="level2" ng-repeat="n2 in n1.subnivel">
                <div class="storm2" ng-class="{active:n2.open}" ng-click="openLevel2($event,n1,n2)">
                    <div class="option">{{n2.titulo}}</div>
                    <i ng-if="n2.subnivel" class="icon-ayuda-flecha-arriba"  ng-class="{'active':n2.open}"></i>
                </div>
                <div ng-if="n2.subnivel" class="submenu" ng-style="{display:(n1.open && n2.open) ? 'block':'none'  }">
                    <div class="level3" ng-repeat="n3 in n2.subnivel" >
                        <div class="storm3" ng-class="{active:n3.active}" ng-click="openLevel3($event,n1,n2,n3)">
                            <div class="option">{{n3.titulo}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
