<div class="">
    <div id="container_principal">

        <picture>
            <source media="(max-width: 992px)" srcset="assets/images/home/banner_home_01_mobile.jpg>
            <source media=" (max-width: 991px) " srcset="assets/images/home/banner_home_01.jpg ">
            <img src="assets/images/home/banner_home_01.jpg " alt="Banner " style="width:100%; ">
        </picture>
    </div>
</div>

<div class="container-fluid hidden-xs hidden-sm superContentMenu ">
    <menu-categorias id="id-menu-categorias " class="contentMenu "></menu-categorias>
</div>
<div class="container-fluid topDiez ">
    <div class="row m-b-30 ">
        <div class="container-full-banner ">
            <div class="col-md-5 col-xs-2 col-sm-4 lineTop10 ">
                <hr />
            </div>
            <div class="col-md-2 col-xs-8 col-sm-4 text-center titulo-top " style="padding:0; ">
                <h1 class="subTitulosHomeTop ">TOP 10</h1>
                <p class="losMas "> Los juguetes más pedidos</p>
            </div>
            <div class="col-md-5 col-xs-2 col-sm-4 lineTop10 ">
                <hr />
            </div>
        </div>
    </div>
    <div class="row ">
        <div class="container-full-banner ">
            <!--producto top 10-->
            <div class="col-sm-3 item-productoTopDiez " ng-repeat="item10 in top10 ">
                <div class="itemTop10 " lazy-load lazy-class=" ">
                    <div class="linkTop10 " ng-click="irDetalleTop(item10.id) ">
                        <figure>
                            <img lazy-src="{{ item10.imageBg }} " class="img-responsive " lazy-load lazy-class="efectZoomCustom ">
                            <p class="loader_generic "></p>
                        </figure>
                        <p class="productoTopDiez " ng-bind="item10.description "></p>
                    </div>
                    <div class="addProductoTop10 ">
                        <agregar-pedidos producto="item10 "></agregar-pedidos>
                    </div>
                    <agregar-pedidos producto="item10 " class="agregar-pedido-top10 "></agregar-pedidos>
                </div>
            </div>
        </div>
    </div>
</div>
<!--banners niñas niños desktop-->
<div class="container container-full-banner ">
    <div class="row ">
        <div class="col-md-6 col-sm-12 col-xs-12 banners-medios ">
            <div ng-click="irSeccion( '/categoria/subCategories') ">
                <figure class="bannerNinoNina ">
                    <img lazy-src="assets/images/home/banner_ninas.jpg " class="img-responsive " lazy-load />
                    <p class="loader_generic "></p>
                </figure>
            </div>

        </div>
        <div class="col-md-6 col-sm-12 col-xs-12 banners-medios ">
            <div ng-click="irSeccion( '/categoria/niños') ">
                <figure class="bannerNinoNina ">
                    <img lazy-src="assets/images/home/banner_ninos.jpg " class="img-responsive " lazy-load />
                    <p class="loader_generic "></p>
                </figure>
            </div>

        </div>
    </div>
</div>
<!--banners niñas niños desktop-->
<!--marcas populares WAP-->
<div class="container " style="margin-top:2.5%; margin-bottom:5%; ">
    <div class="row ">
        <h1 class="subTitulosHome " style="margin-left:20px ">LAS MEJORES MARCAS</h1>
    </div>

    <div class="row ">
        <div class="container-full-banner carousel-de-marcas ">
            <owl-caroucel-marcas id-element="{{ 'slidermain2'}} " class-owl="padding-flechas-marcas " style-owl=" " class-controls="slidermain-controls "></owl-caroucel-marcas>
        </div>
    </div>
</div>
<!--marcas populares WAP lmj2016-->
<div class="container container-full-banner " style="margin-bottom:2%; ">
    <div class="row ">
        <div class="col-md-3 banners-mosaicos ">
            <div class="contentBannerMosaico " ng-click="irSeccion( '/favoritos/nintendo') ">
                <figure>
                    <img lazy-load lazy-class="efectZoom " lazy-src="assets/images/home/bn-secundario-1.jpg " class="img-responsive " />
                    <p class="loader_generic "></p>
                </figure>
            </div>
        </div>
        <div class="col-md-3 banners-mosaicos ">
            <div class="contentBannerMosaico " ng-click="irSeccion( '/favoritos/lego') ">
                <figure>
                    <img lazy-load lazy-class="efectZoom " lazy-src="assets/images/home/bn-secundario-2.jpg " class="img-responsive " />
                    <p class="loader_generic "></p>
                </figure>
            </div>
        </div>
        <div class="col-md-3 banners-mosaicos ">
            <div class="contentBannerMosaico " ng-click="irSeccion( '/favoritos/hasbro') ">
                <figure>
                    <img lazy-load lazy-class="efectZoom " lazy-src="assets/images/home/bn-secundario-3.jpg " class="img-responsive " />
                    <p class="loader_generic "></p>
                </figure>
            </div>
        </div>
        <div class="col-md-3 banners-mosaicos ">
            <div class="contentBannerMosaico " ng-click="irSeccion( '/favoritos/fisher price') ">
                <figure>
                    <img lazy-load lazy-class="efectZoom " lazy-src="assets/images/home/bn-secundario-4.jpg " class="img-responsive " />
                    <p class="loader_generic "></p>
                </figure>
            </div>
        </div>
    </div>
    <div class="row ">
        <div class="col-md-3 banners-mosaicos ">
            <div class="contentBannerMosaico " ng-click="irSeccion( '/favoritos/montables') ">
                <figure>
                    <img lazy-load lazy-class="efectZoom " lazy-src="assets/images/home/bn-secundario-8.jpg " class="img-responsive " />
                    <p class="loader_generic "></p>
                </figure>
            </div>
        </div>
        <div class="col-md-3 banners-mosaicos ">
            <div class="contentBannerMosaico " ng-click="irSeccion( '/favoritos/Frozen II') ">
                <figure>
                    <img lazy-load lazy-class="efectZoom " lazy-src="assets/images/home/bn-secundario-5.jpg " class="img-responsive " />
                    <p class="loader_generic "></p>
                </figure>
            </div>
        </div>
        <div class="col-md-3 banners-mosaicos ">

            <div class="contentBannerMosaico " ng-click="irSeccion( '/favoritos/jurassic world') ">
                <figure>
                    <img lazy-load lazy-class="efectZoom " lazy-src="assets/images/home/bn-secundario-6.jpg " class="img-responsive " />

                    <p class="loader_generic "></p>
                </figure>
            </div>
        </div>
        <div class="col-md-3 banners-mosaicos ">
            <div class="contentBannerMosaico " ng-click="irSeccion( '/favoritos/barbie') ">
                <figure>

                    <img lazy-load lazy-class="efectZoom " lazy-src="assets/images/home/bn-secundario-7.jpg " class="img-responsive " />
                    <p class="loader_generic "></p>
                </figure>
            </div>
        </div>
    </div>
    <div class="row ">

        <div class="col-md-12 banners-mosaicos " style="margin-top: 4.5%; ">
            <a href="https://www.youtube.com/channel/UCL9rrG1FPZb3714IHa3v-PQ " target="_blank ">


                <picture>
                    <source media="(max-width: 992px) " srcset="assets/images/mobile_youtube.png ">
                    <source media="(max-width: 991px) " srcset="assets/images/desktop_youtube.png ">
                    <img src="assets/images/desktop_youtube.png " alt="Banner " style="width:100%; ">
                </picture>
            </a>
        </div>

    </div>
</div>
<div class="container-fluid favoritos serrated " style="margin-top:10px; ">
</div>

<div class="container-fluid favoritos contentIconos ">
    <div class="container-full-banner ">
        <div class="row ">

            <p class="favoritosTitle ">CATEGORÍAS FAVORITAS</p>
        </div>
        <div class="row " style="display: flex;flex-flow: wrap; ">


            <div class="col-xs-6 col-sm-6 col-md-2 ">
                <a href="#/categoria/construccion-y-armables " analytics-on="click " title="Construcción y Armables " analytics-event="Favoritos-Construcción y armables Control " value="Construcción y armables " class="link-article-favorite ">
                    <div class="footerCategory footerRadioControl ">
                        <div id="footerArmables ">
                            <div class="icono armables "></div>
                        </div>
                    </div>
                    <p class="titulo-articulo-cir text-center ">Construcci&oacute;n y armables</p>
                </a>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-2 ">
                <a href="#/categoria/catst1833789 " analytics-event="Favoritos-Niñas " value="Niñas " class="link-article-favorite ">

                    <div class="footerCategory footerColeccionables ">
                        <div id="footerNinas ">
                            <div class="icono ninas "></div>
                        </div>
                    </div>
                    <p class="titulo-articulo-cir text-center ">Ni&ntilde;as</p>
                </a>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-2 ">
                <a href="#/categoria/vehículos " analytics-on="click " title="Vehículos " analytics-event="Favoritos-Vehículos " value="Vehículos " class="link-article-favorite ">
                    <div class="footerCategory footerVehiculos ">
                        <div id="footerVehiculos ">
                            <div class="icono vehiculos "></div>
                        </div>
                    </div>
                    <p class="titulo-articulo-cir text-center ">Vehículos</p>
                </a>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-2 ">
                <a href="#/categoria/niños " analytics-on="click " title="Niños " analytics-event="Favoritos-Niños " value="Niños " class="link-article-favorite ">
                    <div class="footerCategory footerDisfraces ">
                        <div id="footerNinos ">
                            <div class="icono ninos "></div>
                        </div>
                    </div>
                    <p class="titulo-articulo-cir text-center ">Ni&ntilde;os</p>
                </a>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-2 ">
                <a href="#/categoria/bebés " analytics-on="click " title="Bebés " analytics-event="Favoritos-Bebés " value="Bebés " class="link-article-favorite ">
                    <div class="footerCategory footerBebes ">
                        <div id="footerBebes ">
                            <div class="icono bebes "></div>
                        </div>
                    </div>
                    <p class="titulo-articulo-cir text-center ">Bebés</p>
                </a>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-2 ">
                <a href="#/categoria/videojuegos " analytics-on="click " title="Videojuegos " analytics-event="Favoritos-Videojuegos " value="Videojuegos " class="link-article-favorite ">
                    <div class="footerCategory footerVideoJuegos ">
                        <div id="footerVideoJuegos ">
                            <div class="icono videojuegos "></div>
                        </div>
                    </div>
                    <p class="titulo-articulo-cir text-center ">Videojuegos</p>
                </a>
            </div>
        </div>
    </div>
</div>