@font-face {
    font-family: 'SignPainter HouseScript';
    src: url('https://assets.liverpool.com.mx/landings/vinos/fonts/SignPainterHouseScript.woff2') format('woff2'),
        url('https://assets.liverpool.com.mx/landings/vinos/fonts/SignPainterHouseScript.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');






/*AGAVE*/

.agave-container{
    width:100% !important;
    height:auto;
    background:url('https://assets.liverpool.com.mx/landings/vinos/img/fondo-agave.jpg');
    background-position:center;
    background-size:cover;
    height:280px;
}

.agave-logo{
    width:30% !important;
    height:auto;
    position:relative;
    float:left;
    display:inline-block;
}

.agave-logo img{
    width:80% !important;
    padding:10px;
    margin: 0 auto;
}

.agave-botellas{
    width:70% !important;
    height:auto;
    position:relative;
    float:left;
    display:inline-block;
}

.agave-botellas ul{
    display:inline-block;
    width:100% !important;
    list-style:none;
    margin:0;
    padding:0;
    padding-top:20px;
}

.agave-botellas ul li{
    display:inline-block;
    width:24% !important;
    color:black;
    text-align:center;
    font-family: 'Roboto', sans-serif;
    font-weight:300;
    margin:0;
    font-size:18px;
}



/*BANNER VIDEO*/

.bvino-container{
    position:relative;
    width:100% !important;
    height:auto;
}


.bvino-video{
    position:relative;
    width:100% !important;
    height:auto;
    z-index:90;
    
}

.bvino-overlay{
    width:100% !important;
    display:block;
    position:absolute;
    opacity:0;
    height:100%;
    z-index:95;
    background-color:#750c40;
    transition: 0.4s all;    
    
}

.bvino-imagen{
    position:absolute;
    width:100% !important;
    left:0px;
    z-index:99;
    top:10%;
    transition: 0.4s all;    
}

.bvino-container:hover .bvino-overlay{
    visibility:visible;
    width:100% !important;
    opacity:0.6;
    transition: 0.4s all;    
}


/*PLECA TEXTO*/

.texto-vinos{
    width:100% !important;
    text-align:center;
    margin-top:15px;
    margin-bottom:15px;
}


.texto-vinos h3{
    font-family: 'Crimson Text', serif;
    font-size:40px;
    color:black;
    font-weight:600;
    margin:0;
}


.texto-vinos p{
    font-family: 'Roboto', sans-serif;
    font-weight:300;
    font-size:15px;
    color:black;
    margin:0;
    
}



/* BANNER 1*/

.vino1-contenedor{
    width:100% !important;
    position:relative;
    height:auto;
}

.vino1-imagen{
    width:100% !important;
    position:relative;
    height:auto;
    z-index:90;
}

.vino1-circulo-contenedor{
    position:absolute;
    width:100% !important;
    z-index:99;
    padding-top:30px;
    left:0;
}

.vino1-circulo{
    position:relative;
    background-color:#ef6e7e;
    text-align:center;
    color:white;
    display:block !important;
    border-radius:50% !important;
    height:250px !important;
    width:250px !important;
    border: 10px solid white;
    -webkit-box-shadow: 9px 14px 43px -9px rgba(0,0,0,0.49);
    -moz-box-shadow: 9px 14px 43px -9px rgba(0,0,0,0.49);
    box-shadow: 9px 14px 43px -9px rgba(0,0,0,0.49);
    transition:1s all;
}

.vino1-circulo:hover{
    background-color:#ffc720;
    transition:1s all;
}


.vino1-circulo h3{
    font-family: 'SignPainter HouseScript';   
    margin:0;
    font-size:65px;
    vertical-align:center;
    padding-top:40px;
    color:white !important;
}

.vino1-circulo p{
    font-family: 'Roboto', sans-serif;
    font-weight:300;
    margin:0;
    font-size:20px;
    vertical-align:center;   
}


.vino1-uvas{
    width:60% !important;
    display:block;
    margin:0 auto;
    transition:1s all;
    visibility:visible;
}



/* BANNER 2*/

.vino2-contenedor{
    width:100% !important;
    position:relative !important;
    height:auto;
}

.vino2-imagen{
    width:100% !important;
    position:relative;
    height:auto;
    z-index:90;
}

.vino2-circulo-contenedor{
    position:absolute;
    z-index:99;
    padding-top:30px;
    right:0 !important;
    margin:0;
    width:50% !important;
}

.vino2-circulo{
    position:relative;
    background-color:#ff9600;
    text-align:center;
    color:white;
    display:block !important;
    border-radius:50% !important;
    height:250px !important;
    width:250px !important;
    border: 10px solid white;
    -webkit-box-shadow: 9px 14px 43px -9px rgba(0,0,0,0.49);
    -moz-box-shadow: 9px 14px 43px -9px rgba(0,0,0,0.49);
    box-shadow: 9px 14px 43px -9px rgba(0,0,0,0.49);
    transition:1s all;

}

.vino2-circulo:hover{
    background-color:#1168ba;
    transition:1s all;
}


.vino2-circulo h3{
    font-family: 'SignPainter HouseScript';   
    margin:0;
    font-size:65px;
    vertical-align:center;
    padding-top:40px;
    color:white !important;
}

.vino2-circulo p{
    font-family: 'Roboto', sans-serif;
    font-weight:300;
    margin:0;
    font-size:20px;
    vertical-align:center;   
    
}


.vino2-uvas{
    width:60% !important;
    display:block;
    margin:0 auto;
    transition:1s all;
    visibility:visible;
}


/*VIDEO BANNER*/

.video-contenedor{
    position:relative;
    width:100% !important;
    height: 508px !important;
    background:url('https://assets.liverpool.com.mx/landings/vinos/img/fondo-bebida.jpg');
    background-position:center;
    background-size:cover;
}

.video-texto{
    position:relative;
    width:40% !important;
    float:left;
    text-align:center;
}

.video-texto h3{
    font-family: 'SignPainter HouseScript';   
    margin:0;
    font-size:65px;
    vertical-align:center;
    padding-top:70px;
    color:white;
    text-shadow: 3px 3px 7px rgba(150, 150, 150, 1);
}

.video-texto p{
    font-family: 'Roboto', sans-serif;
    font-weight:300;
    margin:0;
    font-size:20px;
    vertical-align:center;   
    color:white;
    text-shadow: 3px 3px 7px rgba(150, 150, 150, 1);
}


.video-video{
    position:relative;
    width:60% !important;
    float:left;
}


.video-frame{
    padding: 15px;
    margin-top:30px;
    max-width: 80% !important;
    margin: 0 auto;
    margin-top: 30px;
}


/*TE*/

.contenedor-te{
    position:relative;
    width:100% !important;
    height:350px;
    background:url('https://assets.liverpool.com.mx/landings/vinos/img/fondo-te.png');
    background-position:center;
    background-size:cover;    
}

.te-imagen{
    width: 70% !important;
    position:relative;
    float:left;
    height:auto;
}

.te-imagen img{
    display:block;
    max-width:100%;
    margin:0 auto;
}

.te-texto{
    width: 30% !important;
    position:relative;
    float:left;
    height:auto;
}



.te-texto h3{
    font-family: 'SignPainter HouseScript';   
    margin:0;
    font-size:65px;
    vertical-align:center;
    padding-top:90px;
    color:white;
    text-shadow: 3px 3px 7px rgba(150, 150, 150, 1);
}

.te-texto p{
    font-family: 'Roboto', sans-serif;
    font-weight:300;
    margin:0;
    font-size:20px;
    vertical-align:center;   
    color:white;
    text-shadow: 3px 3px 7px rgba(150, 150, 150, 1);
}