.wrapNotifications {
  padding-bottom: 20px;
}
.contentNotifications {
  max-width: none;
  background: #f6f6f6;
}
.contentNotifications .smallerContainer {
  margin: 0 auto;
  width: 940px !important;
}
.contentNotifications .smallerContainer .content {
  background: #fff;
  -moz-box-shadow: 0px -3px 7px 0 rgba(0,0,0,0.2);
  box-shadow: 0px 2px 7px 0 rgba(0,0,0,0.2);
}
.contentNotifications .smallerContainer .title {
  padding: 8px 0 8px 0;
}
.contentNotifications .listNotification {
  margin-bottom: 0px;
}
.contentNotifications .listNotification li {
  border-bottom: solid 2px #f2f2f2;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: row wrap;
      flex-wrap: row wrap;
  -moz-box-align: center;
   -ms-flex-align: center;
       align-items: center;
  -moz-box-pack: center;
   -ms-flex-pack: center;
       justify-content: center;
  min-height: 80px;
  margin-right: 0px;
  margin-left: 0px;
}
.contentNotifications .listNotification li .message {
  font-size: 14px;
}
.contentNotifications .listNotification li .message,
.contentNotifications .listNotification li .time {
  margin: 0px;
  padding: 0px;
}
.contentNotifications .listNotification li .image {
  text-align: center;
}
.contentNotifications .listNotification li .image.hearth {
  color: #f00;
}
.contentNotifications .listNotification li .image >img {
  height: 50px;
}
.contentNotifications .listNotification li .image i {
  color: #d3d3d3;
  font-size: 40px;
}
.contentNotifications .listNotification li.inactive {
  font-weight: bold;
}
.contentNotifications .listNotification li.active {
  background: #f2f2f2;
}
.contentNotifications .listNotification li.active .message {
  font-weight: regular !important;
}
