@font-face {
    font-family: 'Century Gothic Std';
    src: url('CenturyGothicStd-Bold.woff2') format('woff2'),
        url('CenturyGothicStd-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

