/* main.css v1.8.9.1 */
.header-contain-left {
  padding-left: 0 !important;
}
.header-contain-right {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.header-contain-right i {
  font-size: 45px;
  position: relative;
  right: 10px;
  top: 5px;
}
#liverpoolLogo {
  height: 45px;
  padding-top: 5%;
}
a {
  color: inherit;
}
ahover {
  text-decoration: none;
}
body {
  font-family: 'robotoRegular';
}
.giftBackground,
.grayBackground {
  background: #fff;
}
.giftBreadcrumbs {
  padding-left: 20px;
}
.giftBreadcrumbs ul li {
  display: inline-block;
  vertical-align: middle;
}
.giftBreadcrumbs ul li:last-of-type i {
  display: none;
}
.giftBreadcrumbs ul li a {
  color: #666;
  display: inline-block;
  font-size: 11px;
  padding-top: 21px;
  vertical-align: middle;
}
.giftBreadcrumbs ul li a:hover,
.giftBreadcrumbs ul li a.current {
  color: #e10098;
}
.giftBreadcrumbs ul li i {
  display: inline-block;
  padding: 21px 21px 0;
  vertical-align: middle;
}
.contentBox {
  margin: 0 auto;
  max-width: 500px;
  width: 100%;
}
.alertCustom,
.warning {
  background-color: #fff;
  color: #fff;
  width: 100%;
  position: relative;
  float: left;
  border: solid 1px #ffc446;
  color: #ffc446;
}
.alertCustom .icon,
.warning .icon {
  position: relative;
  float: left;
  width: auto;
  height: auto;
  background-color: #ffc446;
}
.alertCustom .icon i,
.warning .icon i {
  color: #fff;
  font-size: 20px;
  margin: 10px;
}
.alertCustom .message,
.warning .message {
  position: relative;
  float: left;
  line-height: 40px;
  left: 1%;
}
.alertCustom i,
.warning i {
  float: right;
  font-size: 20px;
  cursor: pointer;
  -moz-transition: 0.3s;
  transition: 0.3s;
  margin-top: 10px;
  margin-right: 5px;
}
.warningMessage {
  border: 1px solid #e2a725;
  color: #e2a725;
  margin-bottom: 20px;
}
.warningMessage div {
  display: inline-block;
  vertical-align: top;
}
.warningMessage div:first-of-type {
  background: #e2a725;
  height: 40px;
  position: relative;
  width: 52px;
}
.warningMessage div:first-of-type img {
  display: block;
  height: 20px;
  left: 15px;
  position: absolute;
  margin: -11px -10px 0 0;
  top: 50%;
  width: 24px;
}
.warningMessage div:last-of-type {
  height: 40px;
  position: relative;
}
.warningMessage div:last-of-type a {
  cursor: pointer;
  display: block;
  height: 15px;
  margin: -8px 0 0 15px;
  position: absolute;
  top: 50%;
  width: 15px;
}
.warningMessage div:last-of-type img {
  width: 100%;
}
.warningMessage div:nth-child(2) {
  max-width: 600px;
  width: 85%;
}
.warningMessage div p {
  font-size: 15px;
  margin: 0 0 0 25px;
  padding-top: 10px;
}
.inputBlock {
  margin-top: 15px;
  position: relative;
}
.inputBlock .labelInput,
.inputBlock .labelSelect {
  color: #b3b3b3;
  font-size: 15px;
  left: 0px;
  padding: 10px 0 10px 13px;
  position: absolute;
  margin: 0;
  top: 0px;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  width: 100%;
}
.inputBlock .labelInput span,
.inputBlock .labelSelect span {
  color: #f00;
  margin-right: -3px;
}
.inputBlock .labelInput.inputActive,
.inputBlock .labelSelect.inputActive {
  font-size: 10px;
  padding: 5px 0 0 13px;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  width: auto;
}
.inputBlock .labelSelect {
  left: 10px;
  padding: 0;
  top: 9px;
  width: auto;
}
.inputBlock .mobileInput,
.inputBlock .mobileSelect {
  background: #fff;
  border: 1px solid #d8d8d8;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  color: #3b3b3e;
  font-size: 15px;
  height: 40px;
  padding: 15px 0 0 13px;
  width: 100%;
}
.inputBlock .mobileSelect {
  color: #b3b3b3;
  padding: 8px 0 10px 13px;
}
.inputBlock .mobileSelect option,
.inputBlock .mobileSelect.selectedValue {
  color: #3b3b3e;
}
.inputBlock .mobileCheckbox {
  width: 16px;
  height: 16px;
  background: #fff;
  position: relative;
  float: left;
  border: solid 1px;
}
.inputBlock .mobileCheckbox input[type=checkbox] {
  visibility: hidden;
}
.inputBlock .mobileCheckbox label {
  cursor: pointer;
  position: absolute;
  width: 14px;
  height: 14px;
  left: 1px;
  top: 1px;
}
.inputBlock .mobileCheckbox label:after {
  opacity: 0;
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  background: #000;
  border: solid 1px;
}
.inputBlock .mobileCheckbox input[type=checkbox]:checked + label:after {
  opacity: 1;
}
.selectTable select {
  color: #ccc;
  margin-top: 15px;
  -webkit-appearance: inherit;
}
.selectTable i {
  margin-top: -23px;
  position: absolute;
  right: 50px;
}
.selectTable .checkLabel {
  position: relative;
  float: left;
  margin-left: 5px;
  color: #999;
  line-height: 14px;
}
.selectTable .iconImage {
  width: 24px;
  height: 24px;
  position: relative;
  float: left;
}
.mobileButton,
.blackMobileButton,
.grayMobileButton,
.pinkMobileButton,
.whiteMobileButton {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  border: 1px solid transparent;
  color: #fff;
  display: block;
  height: 45px;
  margin: 0 auto;
  max-width: 375px;
}
.mobileButton span,
.blackMobileButton span,
.grayMobileButton span,
.pinkMobileButton span,
.whiteMobileButton span {
  font-family: 'robotoCondensed';
  font-size: 18px;
  display: block;
  line-height: 1.1;
  padding: 12px 0;
  text-align: center;
}
.mobileButton:hover,
.blackMobileButton:hover,
.grayMobileButton:hover,
.pinkMobileButton:hover,
.whiteMobileButton:hover {
  color: #fff;
  text-decoration: none;
}
.mobileButton span,
.blackMobileButton span,
.grayMobileButton span,
.pinkMobileButton span,
.whiteMobileButton span {
  font-family: 'robotoCondensed';
  font-size: 18px;
  display: block;
  line-height: 1.1;
  padding: 12px 0;
  text-align: center;
}
#containMailAllow {
  visibility: hidden;
}
#containMailAllow i {
  margin-top: -7px;
  position: absolute;
  right: 15px;
  top: 50%;
}
#containMailAllow i.moveLeft {
  left: 15px;
  right: auto;
}
.blackMobileButton {
  background: #3b3b3e;
  margin: 15px auto;
}
.grayMobileButton {
  background: #969696;
  margin: 15px auto;
}
.pinkMobileButton {
  background: #e10098;
  margin: 15px auto;
}
.pinkMobileButton span {
  font-size: 18px;
  padding: 10px;
}
.whiteMobileButton {
  border: 1px solid #b3b3b3;
  color: #000;
}
.whiteMobileButton:hover {
  color: #000;
}
a.helpIcon {
  display: inline-block;
  margin: 10px 0 0 10px;
  vertical-align: middle;
}
a.helpIcon img {
  height: 25px;
  width: 25px;
}
.labelStyle1 {
  color: #f00;
}
.btnWhiteBlack,
.btnWhitePink {
  background: #fff;
  border: 1px solid;
  font-size: 16px;
  font-weight: 600;
  padding: 10px;
  width: 100%;
}
.btnWhiteBlack:hover,
.btnWhitePink:hover,
.btnWhiteBlack:focus,
.btnWhitePink:focus {
  color: #000 !important;
  text-decoration: none !important;
}
.btnWhitePink {
  border: 1px solid #e10098;
  color: #e10098;
  font-size: 15px;
}
.btnWhitePink:hover,
.btnWhitePink:focus {
  color: #e10098;
  text-decoration: none !important;
}
.btnCarrouselPink {
  background: #e10098;
  color: #fff;
  display: block;
  font-size: 13px;
  padding: 8px 0;
  margin-top: 16px;
  text-align: center;
}
.btnCarrouselPink:hover {
  color: #fff;
}
/* radio button */
.customRadio {
  background: #fff;
  position: relative;
  float: left;
  width: 26px;
  height: 26px;
}
.customRadio input[type=radio] {
  visibility: hidden;
}
.customRadio label {
  cursor: pointer;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0px;
  top: 0px;
  background: transparent;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
.customRadio label:before {
  opacity: 1;
  content: '';
  left: -3px;
  top: -3px;
  position: absolute;
  width: 26px;
  height: 26px;
  background: transparent;
  border: solid 1px #ccc;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
.customRadio label:after {
  opacity: 0;
  content: '';
  left: -3px;
  top: -3px;
  position: absolute;
  width: 26px;
  height: 26px;
  background: transparent;
  border: solid 1px #e10098;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
.customRadio input[type=radio]:checked + label {
  background: #e10098;
}
.customRadio input[type=radio]:checked + label:after {
  opacity: 1;
}
.customRadio input[type=radio]:checked + label:before {
  opacity: 1;
}
/* material design input */
.materialStyle {
  position: relative;
  margin-bottom: 20px;
}
.materialStyle label i {
  color: #f00;
}
input.inputMaterial {
  border: 1px solid #999;
  font-size: 18px;
  padding: 12px 0 0 5px;
  display: block;
  width: 100%;
}
input.inputMaterial:focus {
  outline: none;
}
label.placeHolderMaterial {
  color: #999;
  font-size: 15px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  -moz-transition: 0.2s ease all;
  transition: 0.2s ease all;
}
input.inputMaterial:focus ~ label.placeHolderMaterial,
input.inputMaterial:valid ~ label.placeHolderMaterial {
  top: 1px;
  font-size: 10px;
  color: #e10098;
}
@media screen and (min-width: 768px) {
  .giftBackground {
    background: url("/assetso/web/images/step2Background.png") repeat;
  }
  .grayBackground {
    background: #f2f2f2;
  }
  .contentBox {
    background: #fff;
    -moz-box-shadow: 0px 0px 2px #ccc;
         box-shadow: 0px 0px 2px #ccc;
    display: block;
    margin: 50px auto;
    padding: 0 50px;
    max-width: 1600px;
    width: 80%;
  }
  .contentBox .mobileButton {
    max-width: none;
  }
}
.alertCustom,
.warning {
  background-color: #fff;
  color: #fff;
  width: 100%;
  position: relative;
  float: left;
  border: solid 1px #ffc446;
  color: #ffc446;
}
.alertCustom .icon,
.warning .icon {
  position: relative;
  float: left;
  width: auto;
  height: auto;
  background-color: #ffc446;
}
.alertCustom .icon i,
.warning .icon i {
  color: #fff;
  font-size: 20px;
  margin: 10px;
}
.alertCustom .message,
.warning .message {
  position: relative;
  float: left;
  line-height: 40px;
  left: 1%;
}
.alertCustom i,
.warning i {
  float: right;
  font-size: 20px;
  cursor: pointer;
  -moz-transition: 0.3s;
  transition: 0.3s;
  margin-top: 10px;
  margin-right: 5px;
}
.warning {
  max-width: none;
}
.warning a.helpIcon {
  display: inline-block;
  margin: 0 0 5px 10px;
}
.warning .mobileInput.shortInput {
  width: 60%;
}
@media screen and (min-width: 1300px) {
  .contentBox {
    padding: 0 30px;
    max-width: none;
  }
}
/*check box, icon star*/
.checkStar {
  display: none;
}
.checkStar + label {
  cursor: pointer;
  display: block;
  font-weight: normal !important;
  margin-bottom: 0%;
}
.checkStar + label:before {
  font-family: FontAwesome;
  content: "\f006";
}
.checkStar:checked + label:before {
  content: "\f005";
  color: #faf71b;
}
/*end check box, icon start*/
/*check box, icon square*/
.checkSquare {
  width: 16px;
  height: 16px;
  background: #fff;
  position: relative;
  float: left;
  border: solid 1px;
}
.checkSquare input[type=checkbox] {
  visibility: hidden;
}
.checkSquare label {
  cursor: pointer;
  position: absolute;
  width: 14px;
  height: 14px;
  left: 0px;
  top: 1px;
}
.checkSquare label:after {
  opacity: 0;
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  background: #000;
  border: solid 1px;
  left: 1px;
}
.checkSquare input[type=checkbox]:checked + label:after {
  opacity: 1;
}
/*end check box, icon square*/
/*style paddings left and rigth*/
.pl-1 {
  padding-left: 1%;
}
.pr-1 {
  padding-right: 1%;
}
.mt-2 {
  margin-top: 2%;
}
.mr-4 {
  margin-right: 4px;
}
.n-pl {
  padding-left: 0px !important;
}
.n-pr {
  padding-right: 0px !important;
}
/*end style paddings left and rigth*/
.col-xs-3.bagWrapper a:hover {
  display: inline-block;
  text-decoration: none;
  color: #fff;
}
.giftMenuMobile .toggle-icon {
  height: 44px;
  line-height: 27px!important;
  padding-top: 9px;
}

/*NOTIFICACIONES EN MENU*/
#notificationModal.modal .modal-dialog .modal-body {
  padding: 0;
}

#notificationModal.modal .modal-dialog .modal-content  {
  border: none;
}

#notificationModal.modal .modal-dialog .modal-header  {
  border-bottom: solid 1px #666;
}

#notificationModal.modal .modal-dialog .modal-header .title {
  color: #666;
  font-size: 16px;
  font-family: 'robotoCondensed';
}

#notificationModal .listNotification {
  margin-bottom: 0px;
  padding: 0;
}

#notificationModal .listNotification .information .cerrar {
  font-size: 16px;
}
#notificationModal .listNotification .information .cerrar a:hover {
  text-decoration: none;
}
#notificationModal .listNotification .information .title {
  color: #666;
  font-size: 16px;
  font-family: 'robotoCondensed';
}
#notificationModal .listNotification .information:last-child {
  background: #fafafa;
  min-height: 30px;
  border-bottom: none;
}
#notificationModal .listNotification .information:last-child .allNotifications a {
  color: #e10098;
}
#notificationModal .listNotification .information:last-child .allNotifications a i {
  font-size: 10px;
  margin-left: 10px;
}
#notificationModal .listNotification .information:last-child .allNotifications :hover {
  text-decoration: none;
}
#notificationModal .listNotification li {
  border-bottom: solid 2px #f2f2f2;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: row wrap;
  flex-wrap: row wrap;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 80px;
  margin-right: 0px;
  margin-left: 0px;
  padding: 0px;
  word-wrap: break-word;
}
#notificationModal .listNotification li .message {
  font-size: 13px;
}
#notificationModal .listNotification li .time {
  font-size: 12px;
}
#notificationModal .listNotification li .message,
#notificationModal .listNotification li .time {
  margin: 0px;
  padding: 0px;
}
#notificationModal .listNotification li .image {
  padding: 0;
  text-align: center;
}
#notificationModal .listNotification li .image.hearth {
  color: #f00;
}
#notificationModal .listNotification li .image >img {
  width: 65%;
}
#notificationModal .listNotification li .image i {
  color: #d3d3d3;
  font-size: 30px;
}
#notificationModal .listNotification li .icon {
  -moz-border-radius: 100%;
       border-radius: 100%;
  border: 1px solid #000;
  height: 20px;
  width: 20px;
  margin-right: 10px;
  padding: 0;
  text-align: center;
}
#notificationModal .listNotification li.inactive .message {
  font-weight: regular;
}
#notificationModal .listNotification li.active {
  background: #f2f2f2;
}
listNotification li.active .message {
  font-weight: bold;
}
/*For Image POP*/
div.col-xs-6 .logoContent img {
  width: 100%;
  height:100%;
  max-width: 142px;
  max-width:142px;
}
.logo img {
  width: 133px;
  height: 17px;
}

.logoContent img {
  width: 150px;
  height:150px;
  max-height: 160px;
  text-align: center;
}

.logoContent picture img {
  width: 150px;
  height:150px;
  max-height: 160px;
}
.logoContent a picture img {
   width: 142px;
   height: 142px;
}

.contentBox a.imgMesa .logoContent {
    display: block;
    margin: 10px auto;
    width: 100%;
}
.contentBox a.imgMesa .logoContent picture img {
  max-width: 100%;
  max-height: 100%;
}
