@font-face {
    font-family: 'GT Eesti Display';
    src: url('GTEestiDisplay-RegularItalic.woff2') format('woff2'),
        url('GTEestiDisplay-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'GT Eesti Display';
    src: url('GTEestiDisplay-Bold.woff2') format('woff2'),
        url('GTEestiDisplay-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'GT Eesti Display';
    src: url('GTEestiDisplay-Thin.woff2') format('woff2'),
        url('GTEestiDisplay-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

