@font-face {
  font-family: 'icomoon';
  src:  url('fonts-market/icomoon.eot?1p21sv');
  src:  url('fonts-market/icomoon.eot?1p21sv#iefix') format('embedded-opentype'),
    url('fonts-market/icomoon.ttf?1p21sv') format('truetype'),
    url('fonts-market/icomoon.woff?1p21sv') format('woff'),
    url('fonts-market/icomoon.svg?1p21sv#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-online-store:before {
  content: "\e91b";
}
