body {
    background-color: white;
    font-family: "Roboto";
    margin: 0px;
}

#buscar {
    position: absolute !important;
    right: 1% !important;
    top: 10px !important;
    left: unset !important;
}

.grid-container {
    padding: 0px !important;
}

.homeContent_category {
    display: flex;
    flex-wrap: wrap;
}

.insurgentes {
    position: relative;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../images/insurgentes.jpg);
}

.typeHead {
    z-index: 9999;
    position: relative;
    float: left;
    text-align: center;
    width: 100%;
}

.typeHead>input {
    z-index: 9999;
    background-color: none;
    height: 40px;
    padding-left: 22px;
    font-size: 0.7em;
    font-style: italic;
    margin: 0 auto;
    display: block !important;
    box-sizing: border-box;
}

.opacity {
    width: 100%;
    background: #000;
    height: 2350px;
    position: absolute;
    z-index: 998;
    top: 0;
    left: 0;
    -moz-opacity: 0.30;
    opacity: 0.30;
    display: none;
}

.logaA {
    display: inline-block;
}

.logaA img {
    margin-top: 15px;
    height: 25px;
}

.logaB {
    display: inline-block;
    padding-top: 5px;
    float: right;
}

.logaB img {
    height: 41px;
    width: 130px;
}

.contentresult {
    width: 52%;
    background-color: red;
    margin: 0 auto;
    border: none !important;
}

.enterbuscar,
.entercancelar {
    color: gray;
    font-size: 1.2em;
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 1%;
    cursor: pointer;
}

.enterbuscar {
    right: 1%;
}

.entercancelar {
    right: 50px;
    top: 14px;
    font-size: .9em;
}

h2.ayuda {
    font-family: "Roboto";
    text-align: center;
    width: 100%;
    font-size: 40px;
    color: white;
    font-weight: 400;
    float: left;
    margin: 2% auto 1% 0;
}

.type-down {
    position: absolute;
    font-weight: 500;
    width: 100%;
    text-align: left;
    padding: 12px;
    margin: 0 auto;
    background-color: #fff;
    box-sizing: border-box;
}

.type-down .titleSearchAll,
.type-down .titleSearch {
    font-size: 12px;
    border-top: solid 1px #666;
    padding: 12px 0px;
    color: #000;
}

.type-down .titleSearchAll {
    cursor: pointer;
}

.type-down .titleSearchAll:hover {
    background: #f2f2f2;
}

input.form-control.ayuda-busqueda {}

.ask-frecuentes {
    background: #f2f2f2;
    padding: 40px 0;
    display: inline-block;
}

h3.ayuda {
    font-size: 24px;
    color: #666666;
    margin: 10px 0 10px 0;
    padding-right: 5%;
    font-weight: normal;
}

ul.main-questions {
    list-style-type: disc;
    margin-left: 17px;
}

ul.main-questions li {
    font-size: 14px;
    padding-top: 8px;
}

ul.main-questions li a {
    text-decoration: none;
    color: #666666;
}

.vertodo a {
    text-decoration: none;
    color: #e10098;
}

.vertodo a:hover {
    text-decoration: none;
    color: #e10098;
}

.vertodo i {
    color: #e10098;
    font-size: 12px;
}

.cats-grid {}

.typhoon {
    min-height: 42px;
    border-bottom: 1px solid #d0d0d0;
    margin: 20px 0px;
    margin-bottom: 0;
    display: inline-flex;
    width: 90%;
}

.typhoon i {
    color: #e10098;
    font-size: 1.5em;
    vertical-align: sub;
    margin-right: 5px;
}

.typhoon-search i {
    color: #e10098;
    font-size: 1.2em;
    vertical-align: sub;
    margin-right: 5px;
}

.credito {
    font-weight: 600;
    font-size: 18px;
    display: inline-block;
}

.credito a {
    color: #666666;
    text-decoration: none;
    font-weight: normal;
}

ul.main-topic {}

ul.main-topic li {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-bottom: 10px;
    list-style-type: none;
    border-bottom: 1px solid #efefef;
    width: 90%;
}

ul.main-topic li:last-child {
    border: none;
}

ul.main-topic li a {
    text-decoration: none;
    color: #3b3b3e;
    display: block;
}

.cats-prin {
    margin-top: 20px;
}

.cats-grid {
    margin-bottom: 20px;
}

.cats {
    font-size: 24px;
    color: #666666;
    margin: 20px 0;
    font-weight: 300;
    padding-bottom: 10px;
}

.catsboom {
    margin: -15px 0 0px;
    width: 40%;
    border-bottom: 1px solid #d0d0d0;
}

.sub-frecuentes {
    margin-bottom: 60px;
    margin-top: 40px;
}

.sibtitle {
    margin-bottom: 10px;
}

ul.frequent {
    list-style-type: disc;
    margin-left: 25px;
}

ul.frequent li {
    font-size: 19px;
    padding-top: 20px;
    font-family: 'Roboto Condensed', sans-serif;
}

ul.frequent li a {
    text-decoration: none;
    color: #3b3b3e;
    font-weight: 500;
}

.stores-ayuda {
    background: #f2f2f2;
    height: auto;
    display: inline-block;
    position: relative;
}

.block-stores {
    background: white;
    padding: 2%;
    margin-bottom: 20px;
    height: 90PX;
    margin: 0;
    margin-bottom: 20px;
    display: table;
    display: flex;
    align-items: center;
}

.block-stores:last-child {
    margin-left: 2%;
}

.block-stores:first-child .phone {
    color: white;
    font-size: 1px;
}

.block-stores i {
    color: #e10098;
    font-size: 4em;
    display: inline-block;
}

.contact-description {
    display: inline-block;
}

.tiendas {
    font-size: 1.5em;
    font-weight: 600;
}

.contact {
    margin-top: 20px;
    position: relative;
    margin-bottom: 20px;
}

.category-content p {
    margin-bottom: 10px;
}

.locstore {
    padding-top: 12px;
}

.contact a {
    text-decoration: none;
    color: #3b3b3e;
    display: inherit;
    width: 100%;
    height: 100%;
    padding-top: 25px;
}

.others-ayuda {
    background: #b3b2b3;
    height: auto;
    display: inline-block;
    position: relative;
    padding: 0px 0 30px;
}

.others {
    font-size: 18px;
    font-weight: 500;
    color: white;
    margin: 30px 0 10px 0;
}

ul.others li {
    font-weight: 500;
    font-size: 14px;
    padding-top: 8px;
    color: white;
}

ul.others li a {
    text-decoration: none;
    color: white;
}

p {
    margin: 0px;
    font-weight: 100;
}

p.phone {
    color: #e10098;
    font-size: 14px;
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 5px;
}

.findResult {
    list-style: none;
    width: 100%;
    padding: 0px;
}

.drop-cont {
    font-weight: 400;
    color: #777777;
    padding: 10px 0;
    border-bottom: 1px solid #efefef;
}

.drop-cont:last-child {
    border-bottom: none;
}

.drop-cont:hover {
    background: #f2f2f2;
    cursor: pointer;
}

.drop-cont span {
    position: relative;
    display: inline-block;
    vertical-align: top;
}

.drop-cont .typhoon-search {
    width: auto;
}

.drop-cont .anchorResult {
    width: 92%;
}

.drop-cont .anchorResult a {
    text-decoration: none;
    color: #666666;
    display: block;
    width: 100%;
}

.drop-cont .anchorResult b {
    color: #000000;
}

span.allrights2 {
    color: #ffffff !important;
    display: inline-block;
    float: left;
    padding-left: 20px;
    padding-right: 50px;
    font-weight: 100;
    font-family: 'robotolight', "Helvetica Neue", sans-serif;
    margin-top: 5px;
}

#copy div p.comments_p_d {
    color: #ffffff !important;
    display: inline-block !important;
    float: left !important;
    padding-left: 20px;
    padding-right: 50px;
    font-weight: 100 !important;
    font-family: 'robotolight', "Helvetica Neue", sans-serif !important;
    font-size: 12px;
}

#copy>div>a {
    margin-top: 5px;
}

#footer_wrapper {
    margin-top: 0px !important;
}

#mainContent {
    float: left;
    position: relative;
    width: 100%;
}

#master_footer {
    float: left;
    position: relative;
    width: 100%;
}